.main {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    width: 100%;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
}

.main span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.actions {
    display: flex;
    flex-direction: column;
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: white !important;
}